{% extends "app_coder/index.html" %}
{% load static %}
{% block app_coder_content %}


{% if user.is_authenticated %}
<div class="text-center">
    <h2>Bienvenido {{ user.username }}</h2>
    <h3><a style="color: rgb(3, 36, 184)" href="{% url 'app_coder:avatar-load' %}">Cambiar Avatar</a></h3>
    <img height="160px" src="{{url}}" alt="">
</div>
{% endif %}
<h2>Buscador de Blogs</h2>
<hr>
</hr>

<form action="/app_coder/search" method="GET">
    <div>
        <input type="text" name="all_search" id="course_code_or_name" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr>
</hr>


<ul>
    {% for blog in blogs %}
    <li>
            <a href="{% url 'app_coder:blog-detail' blog.id %}">
                <span style="color: rgb(0, 0, 190);"> {{blog.title}}</span>
            </a>--Posteado por {{blog.autorName}} {{blog.autorSurname}} el {{blog.fecha}} 
    </li>
    {% endfor %}
</ul>


{% endblock %}