{% extends "app_coder/main.html" %}
{% load static %}
{% block app_coder_content %}

<h2>Informacion de usuarios.</h2>
<hr></hr>
<p>Nombre: {{ profile.nombre }}</p>
<p>Descripcion: {{ profile.descripcion }}</p>
<p>Email: {{ profile.email }}</p>
<p>Imagen: {{ profile.image }} <img height="160px" src="{{url}}" alt="Imagen del autor"></p>
<span>Link: </span><a style="color: rgb(0, 0, 190);" href="{{ profile.link }}">{{ profile.link }}</a>
<p><a class="btn2 btn-primary" href="{% url 'app_coder:profile-list' %}">Regresar a la lista de Perfiles</a></p>
{% endblock %}